<div class="footer col-sm-12">
  <div class="d-flex col-sm-10 py-5 mx-auto">
    <div class="sec1 col-sm-5">
        <h2>About us</h2>
        <p> Sacco management system is founded on june 2020</p>
        <p> with the objective of  effecient</p>
        <p>running of Saving enterpise</p>
     
    </div>
    <div class="sec2 col-sm-4"><h2>Services</h2>
      <p>Managing customers,Account either deposit or witdraw</p>
    </div>
    <div class="sec3 col-sm-3">
      <h2>Contact Us</h2>
      <p>Email:godhardmburu004@gmail.com</p>
      <p>Contact no:0710211626</p>
      <p>Address: Godhard Offices,Nairobi</p>
    </div>
  </div>
</div>